
    <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
        <nav class="navbar navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">KVHF Club</a>
                </div> 
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="http://danielmelato.com">Home</a></li>
                        <li><a href="#">Events</a></li>
						<li><a href="http://danielmelato.com/emcomm.php">EmComm</a></li>
						<li><a href="#">Code Plugs</a></li>
						<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Members Directory<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://danielmelato.com/members.php">Current Members</a></li>
                                <li><a href="http://danielmelato.com/historicalMembers.php">Historical Members</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ham Resource Links<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://www.arrl.org" target=blank>ARRL</a></li>
								<li><a href="https://www.qrz.com"target=blank>QRZ</a></li>
								<li><a href="http://www.dxmaps.com/spots/mapg.php?Lan=&Frec=&ML=&Map=&HF=&DXC=ING2&GL=" target=blank>DX Maps</a></li>
								<li><a href="https://www.dxwatch.com" target=blank >DX Watch</a></li>
								<li><a href="http://www.k4usd.org" target=blank >K4USD</a></li>
								<li><a href="http://www.miklor.com/" target=blank>Miklor</a></li>
								<li><a href="https://sourceforge.net/projects/fldigi/" target=blank>FLdigi download</a></li>
                                <!-- <li><a href="http://danielmelato.com/historicalMembers.php">Historical Members</a></li> -->
                            </ul>
                        </li>
                        <!-- <li><a href="#">Links</a></li> -->
                        
                        <!-- <li><a href="http://danielmelato.com/AdventureDays.php">Adventure Days</a></li> -->
                        <!-- <li><a href="#">SilentKeys/Founders</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
 