body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: snow;
    background-image: url('../images/DanielMelatoPics/background8.JPG')
}
.page-header{
    font-family:Sitka Subheading;
    font-size: 400%;
    font-weight: bolder;
}
.img-responsive{
    -webkit-box-shadow: -9px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 8px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -9px 8px 5px 0px rgba(0,0,0,0.75);
}
h1,
h2,
h3 {
    color: white;
    font-weight: 700;
}

ul {
     color: white;
     font-weight: 700;
     list-style-type: none;
}
a {
    color: silver;
    font-weight: 700;
}


