<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <!--<div class="table">
        <div class="row text-primary header">
            <div class="col-md-1"></div>
            <div class="col-md-2"><strong>First</strong></div>
            <div class="col-md-1"><strong>Last</strong></div>
            <div class="col-md-1"><strong>CallSign</strong></div>
            <div class="col-md-1"><strong>ARRL</strong></div>
            <div class="col-md-3"><strong>Address</strong></div>
            <div class="col-md-2"><strong>Phone</strong></div>
            <div class="col-md-1"><strong>Current</strong></div>

            <br style="clear:both" />
        </div>
        <div class="row" ng-repeat="member in grid.Members track by $index" ng-class="{'alternate': $index % 2 == 1}">
            <div ng-if="!member.IsEditing" >
                <div class="col-md-1">
                    <i class="fa fa-check" ng-click="member.IsEditing = !member.IsEditing;" style="cursor:pointer"> </i>
                </div>
                <div class="col-md-2 viewOnly">{{member.FirstName}}</div>
                <div class="col-md-1 viewOnly">{{member.LastName}}</div>
                <div class="col-md-1 viewOnly">{{member.CallSign}}</div>
                <div class="col-md-1 viewOnly">{{member.ARRL}}</div>
                <div class="col-md-3 viewOnly">{{member.Address}}</div>
                <div class="col-md-2 viewOnly">{{member.Phone}}</div>
                <div class="col-md-1 viewOnly">{{member.Current}}</div>

                <br style="clear:both" />
            </div>
            <div ng-if="member.IsEditing">
                <div class="col-md-1" ng-click="member.IsEditing = !member.IsEditing;" style="cursor:pointer">
                    <i class="fa fa-pencil"> </i>
                </div>
                <div class="col-md-2"><input type="text" ng-model="member.FirstName" class="form-control" /></div>
                <div class="col-md-2"><input type="text" ng-model="member.LastName" class="form-control" /></div>
                <div class="col-md-1"><input type="text" ng-model="member.CallSign" class="form-control" /></div>
                <div class="col-md-1"><input type="text" ng-model="member.ARRL" class="form-control" /></div>
                <div class="col-md-3"><input type="text" ng-model="member.Address" class="form-control" /></div>
                <div class="col-md-1"><input type="text" ng-model="member.Phone" class="form-control" /></div>
                <div class="col-md-1"><input type="text" ng-model="member.Current" class="form-control" /></div>

                <br style="clear:both" />
            </div>
        </div>
    </div>
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />-->

</body>
</html>
